@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts  */
@font-face {
  font-family: poppins-light;
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: poppins-regular;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: manrope;
  src: url(../fonts/Manrope-Regular.ttf);
}

/* layer component classes  */
@layer components {
  .header {
    @apply w-full bg-[#1C1E53] font-[poppins-regular];
  }

  .header__top {
    @apply w-[100%] h-[92px] bg-[#1C1E53];
  }

  .header__top__inner {
    @apply flex items-center justify-between w-[85%] mx-auto;
  }

  .header__top__right {
    @apply w-[55%] flex gap-[30px] h-[92px] text-lg flex-row items-center justify-between font-[500];
  }

  .header__top__nav {
    @apply relative w-[70%] flex items-center justify-between text-[#BBBBCB];
  }

  .header__top__nav__link {
    @apply relative pb-[5px] text-center hover:text-[#ffffff] transition;
  }

  .header__top__nav__link::after {
    @apply absolute content-[''] w-[0%]  h-[1px] bg-[#ffffff] bottom-0 left-0 hover:w-[100%] duration-300;
  }

  .header__top__btn {
    @apply w-[185px] h-[60px] flex items-center justify-center border-2 border-[#F4F6FC33] rounded-[185px] hover:bg-[#2d2e69] transition;
  }

  .header__bottom {
    @apply flex justify-between w-[85%] mx-auto mt-[150px];
  }

  .header__bottom__left {
    @apply flex flex-col gap-[25px];
  }

  .header__bottom__left__title {
    @apply w-[582px] text-[#ffffff] text-[54px] font-[600] leading-[74px];
  }

  .header__bottom__left__p {
    @apply w-[500px] text-[#BBBBCB];
  }

  .header__bottom__left__buttons {
    @apply w-full gap-[25px] flex items-center;
  }

  .header__bottom__primary__btn {
    @apply w-[230px] h-[60px] bg-[#FCD980] rounded-[41px] font-[manrope] text-center leading-[60px] text-[16px] text-[#1B1C2B] font-[600];
  }

  .header__bottom__text__btn {
    @apply flex items-center gap-[10px] text-[#ffffff] text-[16px];
  }
}
