@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts  */
@font-face {
  font-family: poppins-light;
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: poppins-regular;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: manrope;
  src: url(../fonts/Manrope-Regular.ttf);
}

/* layer component classes  */
@layer components {
  .wrapper {
    @apply w-full h-full cursor-default;
  }

  .page-loader {
    @apply absolute w-[200px] h-[150px] left-[calc(50%-200px/2)] top-[calc(50%-150px/2)] flex flex-col items-center justify-center gap-5 z-10 rounded-[8px] bg-[#1C1E53];
  }

  .page-loader-text {
    @apply text-[#BBBBCB] text-center font-bold uppercase;
  }

  .spiner-holder {
    @apply flex items-center justify-center w-[100px];
  }

  .spinner {
    @apply w-[20px] h-[20px] mx-auto bg-[#BBBBCB] rounded-full transition-transform;
  }

  .sp-1 {
    @apply animate-[loadingAnimation_1s_ease-in-out_100ms_infinite_alternate];
  }

  .sp-2 {
    @apply animate-[loadingAnimation_1s_ease-in-out_200ms_infinite_alternate];
  }

  .sp-3 {
    @apply animate-[loadingAnimation_1s_ease-in-out_300ms_infinite_alternate];
  }

  .header {
    @apply w-full bg-[#1C1E53] font-[poppins-regular];
  }

  .header__top {
    @apply w-[100%] h-[92px] bg-[#1C1E53];
  }

  .header__top__inner {
    @apply w-[80%] h-full flex items-center justify-between mx-auto md:w-[95%] lg:w-[85%];
  }

  .header__top__right {
    @apply hidden  h-full lg:w-[60%] md:flex md:w-[75%] gap-[30px] text-lg flex-row items-center justify-between font-[500];
  }

  .header__top__nav {
    @apply relative w-[75%] flex items-center justify-between text-[#BBBBCB];
  }

  .header__top__nav__link {
    @apply relative pb-[5px] text-center hover:text-[#ffffff] transition;
  }

  .header__top__nav__link::after {
    @apply absolute content-[''] w-[0%]  h-[1px] bg-[#ffffff] bottom-0 left-0 hover:w-[100%] duration-300;
  }

  .header__top__btn {
    @apply w-[185px] h-[60px] flex items-center justify-center border-2 border-[#F4F6FC33] rounded-[185px] hover:bg-[#2d2e69] active:scale-[0.9] transition;
  }

  .header__bottom {
    @apply flex justify-between w-[85%] mx-auto mt-[150px];
  }

  .header__bottom__left {
    @apply flex flex-col gap-[25px];
  }

  .header__bottom__left__title {
    @apply w-[582px] text-[#ffffff] text-[54px] font-[600] leading-[74px];
  }

  .header__bottom__left__p {
    @apply w-[500px] text-[#BBBBCB];
  }

  .header__bottom__left__buttons {
    @apply w-full gap-[25px] flex items-center;
  }

  .header__bottom__primary__btn {
    @apply w-[230px] h-[60px] bg-[#FCD980] rounded-[41px] font-[manrope] text-center leading-[60px] text-[16px] text-[#1B1C2B] font-[600] hover:bg-[#fcd980e1] active:scale-[0.9] transition;
  }

  .header__bottom__text__btn {
    @apply relative flex items-center flex-row-reverse gap-[10px] text-[#ffffff] text-[16px];
  }

  .svg-1 {
    @apply absolute right-[-50px] w-[40px] h-[20px] flex items-center transition-[right];
  }

  .header__bottom__text__btn:hover .svg-1 {
    @apply right-[-55px];
  }

  .main__work {
    @apply w-full h-[661px] flex items-center bg-[#F4F6FC] font-[poppins-regular];
  }

  .main__work__inner {
    @apply w-[85%] mx-auto flex items-start justify-between;
  }

  .main__work__left {
    @apply h-[184px] flex flex-col justify-between;
  }

  .main__work__left__title {
    @apply text-[48px] font-[600] text-[#282938];
  }

  .main__work__left__p {
    @apply w-[405px] text-[#666773] text-[16px] font-[400] font-[poppins-regular];
  }

  .main__work__left__btn {
    @apply relative flex items-center justify-between w-[170px] text-[#2405F2] font-[600];
  }

  .svg-2 {
    @apply absolute right-0 transition-[right];
  }

  .main__work__left__btn:hover .svg-2 {
    @apply right-[-5px];
  }

  .main__work__right {
    @apply w-[600px] h-[405px] grid grid-cols-2 gap-x-[30px];
  }

  .main__work__right__card {
    @apply flex flex-col justify-evenly w-[250px] h-[170px] text-[#282938];
  }

  .work__card__title {
    @apply text-[28px] font-[600];
  }

  .work__card__p {
    @apply text-[#666773];
  }

  .main__projects {
    @apply w-[85%] h-[980px] mx-auto;
  }

  .main__projects__bottom {
    @apply w-full flex justify-between;
  }

  .main__projects__bottom__right {
    @apply flex flex-col justify-between;
  }

  .img__1 {
    @apply w-[850px] h-[600px] row-span-3; 
  }

  .img__2 {
    @apply w-[405px] h-[284px];
  }

  .img__3 {
    @apply w-[405px] h-[284px];
  }

  .main__features {
    @apply w-full h-[1991px] bg-[#F4F6FC];
  }
}
